.header
    i.fas.fa-exchange-alt.fa-1x.toggle-sidebar
    .dropdown.notifications-container
        i.fas.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | Notifications
                span 50
            .noti-content
                ul.list-unstyled
                    li
                        i.fas.fa-envelope.fa-lg
                        | You have got Mail
                    li
                        i.fas.fa-money.fa-lg
                        | You have got Money
                    li
                        i.fas.fa-thumbs-up.fa-lg
                        | You have got Liked
                    li
                        i.fas.fa-envelope.fa-lg
                        | You have got mail
                    li
                        i.fas.fa-money.fa-lg
                        | You have got Money
            .noti-foot.text-center: a(href="#") View All Notifications
        i.fas.fa-expand.fa-lg.toggle-fullscreen.header-icon