.header
    i.fas.fa-exchange-alt.fa-1x.toggle-sidebar
    .dropdown.notifications-container
        i.fas.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | Notifications
                span 50
            .noti-content
                ul.list-unstyled
                    li
                        i.fas.fa-envelope.fa-lg
                        | You have got Mail
                    li
                        i.fas.fa-money.fa-lg
                        | You have got Money
                    li
                        i.fas.fa-thumbs-up.fa-lg
                        | You have got Liked
                    li
                        i.fas.fa-envelope.fa-lg
                        | You have got mail
                    li
                        i.fas.fa-money.fa-lg
                        | You have got Money
            .noti-foot.text-center: a(href="#") View All Notifications
    i.fas.fa-expand.fa-lg.toggle-fullscreen.header-icon

    .dropdown.usermenu-container
        .username#userMenu(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            img.avatar.rounded-circle(src="../images/001-abdo.jpg", alt="abdo")
            span.user Abdel Rahman Salem
            i.fas.fa-angle-down.fa-lg
        .dropdown-menu.dropdown-menu-right(aria-labelledby='userMenu')
            .user-info
                h3 Abdel Rahman Salem
                p premium Member
            hr
            ul.activities-list.list-unstyled
                li Added a comment on post "Ho to a Make Dashboard"
                li Created a post on "Science" Category
                li Created a chart on charts page
                li Added a comment on "How to use GulpJs" Post
            hr
            .row.usermenu-links
                .col
                    .link-box
                        i.fas.fa-cog.fa-lg.fa-fw.setting-icon
                        span Settings
                .col
                    .link-box
                        i.fas.fa-user.fa-lg.fa-fw.profile-icon
                        span Profile
                .col
                    .link-box
                        i.fas.fa-power-off.fa-lg.fa-fw.logout-icon
                        span Logout
                
