.page{
    .sidebar{
        width: 250px;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        color: #666;
        padding: 15px;
        transition: 0.3s;
        box-shadow: 0 0 20px #2980b9;
        &.no-sidebar{
            left: -250px;
        }
        .logo-area{
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 30px;
            background-color: #2980b9;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 5px 5px 5px #ccc;
            cursor: pointer;
        }
        .links-area{
            li{
                a{
                    padding: 10px 20px;
                    margin: 10px 0;
                    display: block;
                    transition: 0.3s;
                    text-decoration: none;
                    color: #666;
                }
            }
            > li > a {
                position: relative;
                padding-left: 20px;
                
                &:hover, &.active {
                    padding-left: 30px;
                    background-color: #2980b9;
                    border-radius: 5px;
                    color: #fff;
                    box-shadow: 5px 5px 5px #ccc;
                }
                
                .fa-angle-right{
                    float: right;
                    position: relative;
                    top: 5px;
                    &.down {
                        transform: rotate(90deg);
                    }
                }
            }

            .child-links {
                position: relative;
                display: none;
                margin-left: 10px;
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 3px;
                    width: 3px;
                    height: 100%;
                    background-color: #fff;
                }
                a{
                    position: relative;
                    &:hover:before {
                        content: '';
                        width: 3px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 3px;
                        background-color: #2980b9;

                    }
                }
            }
        }
    }
}