.section-one
    .dash-cards
        .card.my-card
            .card-header.c-header
                i.far.fa-copy.fa-2x.card-icon.bg-warning.text-white
            .card-body.c-body
                .card-title
                .card-text.text-right
                    span.span-one Used Space
                    span.span-two 49/50 
                        span GB
            .card-footer.c-footer 
                i.fas.fa-exclamation-triangle.text-danger
                |   Get More Space...
        .card.my-card
            .card-header.c-header
                i.fas.fa-home.fa-2x.card-icon.bg-success.text-white
            .card-body.c-body
                .card-title
                .card-text.text-right
                    span.span-one Revenue
                    span.span-two $34,245
            .card-footer.c-footer 
                i.far.fa-calendar-times
                |   Last 24 Hours
        .card.my-card
            .card-header.c-header
                i.fas.fa-info-circle.fa-2x.card-icon.bg-danger.text-white
            .card-body.c-body
                .card-title
                .card-text.text-right
                    span.span-one Fixed Issues
                    span.span-two 75
            .card-footer.c-footer 
                i.fas.fa-tag
                |   Tracked from Github
        .card.my-card
            .card-header.c-header
                i.fab.fa-twitter.fa-2x.card-icon.bg-primary.text-white
            .card-body.c-body
                .card-title
                .card-text.text-right
                    span.span-one Followers
                    span.span-two +245
            .card-footer.c-footer 
                i.fas.fa-history
                |   Just Updated
.section-two
    .status-cards
        .card.states-cards
            .card-header.state-header.bg-success
            .card-body.state-body
                .card-title.state-title
                    |    Daily Sales
                .card-text.state-text
                    span.text-success
                        i.fas.fa-long-arrow-alt-up 55% 
                    |   increase in today sales.
            .card-footer.state-footer
                i.far.fa-clock
                |    updated 4 minutes ago
        .card.states-cards
            .card-header.state-header.bg-warning
            .card-body.state-body
                .card-title.state-title
                    |    Email Subscriptions
                .card-text.state-text
                    |   Last Campaign Performance
            .card-footer.state-footer
                i.far.fa-clock
                |    campaign sent 2 days ago
        .card.states-cards
            .card-header.state-header.bg-danger
            .card-body.state-body
                .card-title.state-title
                    |    Completed Tasks
                .card-text.state-text
                    |   Last Campaign Performance.
            .card-footer.state-footer
                i.far.fa-clock
                |    campaign sent 2 days ago
.section-three
    .tasks-section
        .card.states-cards
            .card-header.state-header.text-white
                ul.list-unstyled.tasks-list
                    span Tasks:
                    li
                        a.text-white.active(href="#")
                            i.fas.fa-bug
                            |   Bugs
                    li
                        a.text-white(href="#") 
                            i.fas.fa-code
                            |   Website
                    li
                        a.text-white(href="#") 
                            i.fas.fa-cloud
                            |   Server

            .card-body.state-body
                ul.list-unstyled.check-list
                    li
                        input(type="checkbox" checked) 
                        span   Sign contract for "What are conference organizers afraid of?"
                            span.text-danger.float-right
                                i.fas.fa-pencil-alt.mr-3
                                |   X
                    li
                        input(type="checkbox") 
                        span   Lines From Great Russian Literature? Or E-mails From My Boss?
                            span.text-danger.float-right
                                i.fas.fa-pencil-alt.mr-3
                                |   X
                    li
                        input(type="checkbox") 
                        span   Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                            span.text-danger.float-right
                                i.fas.fa-pencil-alt.mr-3
                                |   X
                    li
                        input(type="checkbox" checked) 
                        span   Create 4 Invisible User Experiences you Never Knew About
                            span.text-danger.float-right
                                i.fas.fa-pencil-alt.mr-3
                                |   X
    .employees-section
        .card.states-cards
            .card-header.state-header.bg-warning.text-white
                h3   Employees Stats
                h5   New employees on 18th November, 2020
            .card-body.state-body
                table
                    thead.text-danger.mb-5
                        tr
                            th(scope="col") ID
                            th(scope="col") Name
                            th(scope="col") Salary
                            th(scope="col") Country
                    tbody
                        tr
                            th(scope="row") 1
                            td Dakota Rice
                            td $36,738
                            td Niger
                        tr
                            th(scope="row") 2
                            td Minerva Hooper
                            td $23,789
                            td Curaçao
                        tr
                            th(scope="row") 3
                            td Sage Rodriguez
                            td $56,142
                            td Netherlands
                        tr
                            th(scope="row") 4
                            td Philip Chaney
                            td 	$38,735
                            td Korea, South
                        tr
                            th(scope="row") 5
                            td Dakota Rice
                            td $36,738
                            td Niger
